*{
    box-sizing: border-box;
    line-height:18px;
}
/* to keep items in line and not busting out */

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 90%;
    font-size: 18px; 
    text-align: center; 
    margin:auto;
    
}

.box {
    background: #ebebeb;
    width: 90%;
    margin: 5px auto 0;
    padding: 20px;
    display: inline-block;
}

h4 {
    color: #777;
}

.middle{
    width:90%;
    margin: auto;
    
 }

.block {
    background: #ebebeb;
    width: 55%;
    height: 300px;
    padding: 5px;
    overflow: auto;
    margin-top:5px;
    float: left;
}

.article {
    background: #777;
    height: 75%;
    overflow: auto;
}

#white-text {
    color:#ebebeb;
    text-align: center;
}

.inner {
    background: #ebebeb;
    width: 95%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 10px;
    overflow: auto;
}

.aside{
    background: #ebebeb;
    width: 44%;
    height: 300px;
    padding: 10px;
    float: right;
    margin-top:5px;
}

