*{
    box-sizing: border-box;
    
}

html{
    height:100%;
    margin: 0px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body{
/* style.css is not located in same folder as html */
    background: url("../images/background.png");
    background-repeat: repeat;
    margin:0px;
    color:#777777;
    height: 100%;
    
}

.main-body{
    position:relative;
    min-height: 100%;
    padding-bottom: 70px;
}


.head{
    background-color:#ffffff;
    width: 100%;
    margin:0px;
    height: 100px; 
    border-bottom: 2px solid #cccccc;
}
.second{
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

.name-box{
    margin: 0 auto;
    padding: 3px;
    width: 300px;
    height:100px;
    background-color: #4aaaa5;
    text-align: center;
    float: left;
    border-radius: 10px;
}


.name{
    color:#ffffff;
}

.nav{
    float:right;
    line-height: 150px;
    font-size: 25px;
    width:290px;
    height:100px;
    word-spacing:10px;
}

/* change font size of link when hoer mouse pointer over */
a {
   
    text-decoration: none;
}

a:hover{
    font-size: 30px;
}

a:visited {
    color: #777777;
  }

.bio-container{
    width: 100%;
    margin:20px 0px 20px 0px;   
    
}

.bio{
    margin:0 auto;
    background-color:#ffffff;
    width: 960px;
    padding:30px;
    border: 1px solid #dddddd; 
    font-family: Arial, Helvetica, sans-serif;
    border-radius:10px;
}

.firstcharacter {
    color: rgb(77, 74, 74);
    float: left;
    font-family: Georgia;
    font-size: 50px;
    line-height: 20px;
    padding-top:14px;
    padding-right: 2px;
    padding-left: 0px;
  }

/* clearfix for profil image and its container */
.clearfix {
    overflow:auto;
}

.about-bar{
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
}

.subtitle{
    color:#4aaaa5;

}

#profile-image{
    float: left;
    margin: 25px 20px 20px 0px;
}

.paragraph{
    overflow:auto;
}

footer{
    position: absolute;
    bottom: 0px;
    background-color:#666666;
    color: #dddddd;
    height: 70px;
    border-top: 8px solid #4aaaa5;
    width: 100%;
}

#copyright{
    text-align: center;
}
