*{
    box-sizing: border-box;
    
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body{
/* style.css is not located in same folder as html */
    background: url("../images/background.png");
    background-repeat: repeat;
    margin:0px;
    color:#777777;
   
}

.head{
    background-color:#ffffff;
    width: 100%;
    margin:0px;
    height: 100px; 
    border-bottom: 2px solid #cccccc;
}

.name-box{
    margin-left: 20%;
    padding: 3px;
    width: 300px;
    height:100px;
    background-color: #4aaaa5;
    text-align: center;

}


.name{
    color:#ffffff;
}

.nav{
    float:right;
    background:grey;
    width:100px;
    height:100px;
}

.nav-item{

}

.bio-container{
    width: 100%;
    margin:20px 0px 0px 0px;   
    
}

.bio{
    margin:10px 20% 20px;
    background-color:#ffffff;
    width: 960px;
    padding:30px;
    border: 1px solid #dddddd; 
    font-family: Arial, Helvetica, sans-serif;
}

/* clearfix for profil image and its container */
.clearfix {
    overflow:auto;
}

.about-bar{
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
}

.subtitle{
    color:#4aaaa5;

}

#profile-image{
    float: left;
    margin: 25px 20px 20px 0px;
}

.paragraph{
    overflow:auto;
}

.footer{
   
    background-color:#666666;
    color: #dddddd;
    height: 70px;
    border-top: 8px solid #4aaaa5;
}

#copyright{
    position: absolute;
    bottom: -15px;
    left: 50%;
}
